body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height:80vh;
    width:100vw;
    overflow-x:hidden;
}

.mainWindow {
    font-family: Arial, sans-serif;
    color: #333;
    width: 60vh;
    height: 80vh;
    border-radius: 5vh;
    margin: 20vh 20vw 10vh 20vw;
    left: auto;
    right: auto;

    background: linear-gradient(rgba(128, 128, 128, 0.3), rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(10px) saturate(130%);
    -webkit-backdrop-filter: blur(10px) saturate(180%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    position: relative;
    z-index: 10;

    border: 1vh solid;
    border-image: linear-gradient(90deg, #ff7eb3, #ff758c, #ff7eb3);
    border-image-slice: 1;

    animation: gradient-stroke 7s linear infinite;
}

@keyframes gradient-stroke {
    0% {
        border-image-source: linear-gradient(90deg, #ff7eb3, #75ffc3, #ff7eb3);
    }
    50% {
        border-image-source: linear-gradient(90deg, #75ffc3, #ff7eb3, #75ffc3);
    }
    100% {
        border-image-source: linear-gradient(90deg, #ff7eb3, #75ffc3, #ff7eb3);
    }
}

html,
html:before{
  --s: 56px;
  --g: 10px;
  --c: #ECD078; 
  
  z-index:1;
  --_l: #0000 calc(33% - .866*var(--g)),var(--c) calc(33.2% - .866*var(--g)) 33%,#0000 34%;
  background:
    repeating-linear-gradient(var(--c) 0 var(--g), #0000 0 50%)
     0 calc(.866*var(--s) - var(--g)/2),
    conic-gradient(from -150deg at var(--g) 50%,var(--c) 120deg,#0000 0),
    linear-gradient(-120deg,var(--_l)),linear-gradient( -60deg,var(--_l))
    #0B486B;
  background-size: var(--s) calc(3.466*var(--s));
  animation: p infinite 2s linear;
}
html:before {
  content: "";
  position: fixed;
  inset: 0;
  -webkit-mask: 
    linear-gradient(#000 50%,#0000 0) 
    0 calc(.866*var(--s))/100% calc(3.466*var(--s));
  animation-direction: reverse;
}
@keyframes p {
  to {
    background-position-x: calc(-1*var(--s));
  }
}